* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* deines background color behind everything */
body {
  background-color: #a4bb3f;
}

/* defines color, text style, background color, thickness of padding area for class= header */
.header {
  padding: 10px;
  font-family: "Square Peg", cursive;
  background-color: #677a54;
  color: #ffffff;
}

/* defines font size as well as color of "Hori"...inline-block allows for no line break between elements*/
.header h1 {
  display: inline-block;
  border: solid black;
  font-size: 48px;
}

.header h1 .ter .myer {
  color: #46b4a6;
}

/* styling for nav bar - padding, margin, positioning on the right, font style and size defined */
.header nav {
  padding-top: 0px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* styling to eliminate underlines */
.header nav ul {
  list-style-type: none;
}

/* styling for nav bar list items - margin from left side as well as eliminates line breakds between elements */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.aboutme {
  border: solid black;
  text-decoration: solid;
}

.image1 img {
  height: 100px;
  width: 100px;
}

.mywork {
  border: solid black;
}

.image2 img {
  height: 100px;
  width: 100px;
}

.contactme {
  border: solid black;
}

.image3 img {
  height: 100px;
  width: 100px;
}

.footer {
  text-align: center;
  display: inline;
}
